doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='assets/styles/style.scss')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(rel='stylesheet' href='./assets/fonts/Roboto-Regular.woff')
  title Plumber Point
header
  include components/menu
main
  section.receive-help-wrapper.container
    .contact-info
      .contact-us
        span.contact-header Call us for any
        span.needs-text Plumbing Needs
        span.contact-number +1800-9938-2839 
      button.services-button
        span See All Service
    .plumber-image-item
      img(src='assets/photo-content/plumber-duo.png' alt='Kumar_main-page')
  section.maintenance-wrapper
    .maintenance-block
      img(src='assets/icons/pipe-icon.svg' alt='pipe-icon')
      h2.maintenance.maintenance-headline Residental Service
      span.maintenance-text-block
        | Lorem Ipsum is simply dummy text of
        | the printing and typesetting industry.
        | Lorem Ipsum has been the industry.
      button.maintenance-button
        span.learn-more Learn More
    .border-maintenance-block
    .maintenance-block
      img(src='assets/icons/gear-icon.svg' alt='gear-icon')
      h2.maintenance.maintenance-headline Commercial Service
      span.maintenance-text-block
        | Lorem Ipsum is simply dummy text of
        | the printing and typesetting industry.
        | Lorem Ipsum has been the industry.
      button.maintenance-button
        span.learn-more Learn More
    .border-maintenance-block
    .maintenance-block
      img(src='assets/icons/hand-gear-icon.svg' alt='maintenance-gear')
      h2.maintenance-headline Maintenance Service
      span.maintenance-text-block
        | Lorem Ipsum is simply dummy text of
        | the printing and typesetting industry.
        | Lorem Ipsum has been the industry.
      button.maintenance-button
        span.learn-more Learn More
  | &gt;
  section.welcome-intro.container
    .welcome-intro-wrapper
      div
        h1.welcome-header Welcome to Plumber Company
        p.welcome-text
          | Lorem Ipsum is simply dummy text of
          | the printing and typesetting industry.
          | Lorem Ipsum has been the industry&apos;s
          | standard dummy text ever since the 1500s,
          | when an unknown printer took a galley of
          | type and scrambled it to make a type specimen book
        button.learn-button
          span Learn More
    .video-icon
      img(src='assets/icons/video-icon.svg' alt='video-content')
  section.our-company_block
    .experts-wrapper
      .couple-img-block
        img(src='assets/photo-content/couple.jpg' alt='couple-brofist')
      .text-block-experts
        h1.history-header Our Company History
        p.company-info
          | Lorem Ipsum is simply dummy
          | text of the printing and typesetting
          | industry. Lorem Ipsum has been the
          | industry&apos;s standard dummy text ever
          | since the 1500s, when an unknown printer
          | took a galley of type and scrambled it to
          | make a type specimen book
        h1.trust-header Trust Our Team of Experts
        p.company-info.company-info-padding
          | Lorem Ipsum is simply dummy
          | text of the printing and typesetting
          | industry. Lorem Ipsum has been the
          | industry&apos;s standard dummy text ever
          | since the 1500s, when an unknown printer
          | took a galley of type and scrambled it to
          | make a type specimen book
  section.advantages
    .advantages-text-block
      span.header Plumber Points
      span.advantages-info
        | Lorem Ipsum is simply
        | dummy text of the printing and typesetting
        | industry. Lorem Ipsum has been the industry&apos;s
        | standard dummy text ever since the 1500s,
        | when an unknown printer took a galley of type
        | and scrambled it to make a type specimen book.
    .advantages-wrapper
      .advantages-container
        .advantages-list
          .list-item
            .advantages-ellipse-item
            .column-advantages Residental Service
          .list-item
            .advantages-ellipse-item
            .column-advantages Commercial Service
        .advantages-list
          .list-item
            .advantages-ellipse-item
            .column-advantages Residental Service
          .list-item
            .advantages-ellipse-item
            .column-advantages Commercial Service
        .advantages-list
          .list-item
            .advantages-ellipse-item
            .column-advantages Residental Service
          .list-item
            .advantages-ellipse-item
            .column-advantages Commercial Service
        .advantages-list
          .list-item
            .advantages-ellipse-item
            .column-advantages Residental Service
          .list-item
            .advantages-ellipse-item
            .column-advantages Commercial Service
      img(src='assets/photo-content/bottoms-up.png' alt='like')
  section.team-info-wrapper.container
    .team-info
      span.team-title.header Our Dedicated Team
      span.team-description
        | Lorem Ipsum is simply
        | dummy text of the printing and typesetting industry.
        | Lorem Ipsum has been the industry&apos;s standard dummy
        | text ever since the 1500s, when an unknown printer
        | took a galley of type and scrambled it to make a type
        | specimen book.
    .staff-container
      for __, i in Array(4)
        .staff-wrapper
          img.staff-photo(src='assets/photo-content/worker-1.png' alt='Kumar-plumber')
          .staff-briefing
            span.staff-name Vinay Kumar
            span.job-position Plumber
footer
  .homepage-slider-hover
    img.slider-image(src='assets/photo-content/office.jpg' alt='office')
    .homepage-slider
      .content.slides
        .slide
          h1.slide-heading Testimonial
          p.slide-content
            | Lorem Ipsum is simply dummy text
            | of the printing and typesetting industry.
            | Lorem Ipsum has been the industry&apos;s standard
            | dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make
            | a type specimen book.
          span.autor Johny Vino
      #dots.nav-dots
        span.nav-dot
        span.nav-dot
        span.nav-dot.nav-dot_active
        span.nav-dot
  .blog-wrapper.container
    h1.blog-name Our recent blogs
    .blog-panel
      .blog
        img(src='assets/photo-content/repair.jpg')
        h2.caption
          | Lorem Ipsum is simply dummy text of the printing and
          | typesetting.
        p.description.blog-info
          | Lore Issue is simply dummy text
          | of the printing and typesetting industry.
          | Lore Issue has...
      .blog
        img(src='assets/photo-content/torso.jpg' alt='plumber-torso-blog')
        h2.caption
          | Lorem Ipsum is simply dummy text of the printing and
          | typesetting.
        p.description
          | Lore Issue is simply dummy text
          | of the printing and typesetting industry.
          | Lore Issue has...
      .blog
        img(src='assets/photo-content/plumberman.png' alt='plumbeman-blog')
        h2.caption
          | Lorem Ipsum is simply dummy text of the printing and
          | typesetting.
        p.description
          | Lore Issue is simply dummy text
          | of the printing and typesetting industry.
          | Lore Issue has...
  .footer-wrapper
    .footer-news.container
      .social-info
        img.dark-logo(src='assets/icons/plumb-dark.svg' alt='footer-logo')
        span.footer-content-wrapper
          | Lore Issue is simply dummy text of
          | the printing and typesetting industry.
          | Lore Issue has been the industry&apos;s standard dummy
          | text ever since the 1500s, when an unknown printer
          | took a galley of type and scrambled it to make a type
          | specimen book.
        .social
          img.social-link(src='assets/icons/facebook-icon.svg' alt='facebook-icon')
          img.social-link(src='assets/icons/google-icon.svg' alt='google-icon')
          img.social-link(src='assets/icons/twitter-icon.svg' alt='twitter-icon')
      .links-container
        ul.links-footer
          li.service-link-header Our Services
          li.service-item Plumber service
          li.service-item Bathroom Plumbing Service
          li.service-item Kitchen Plumbing Service
          li.service-item Roof Plumbing Service
          li.service-item Bathroom Plumbing Service
          li.service-item Kitchen Plumbing Service
        ul.contacts-footer
          li.service-link-header Contact
          li.contact-wrapper
          .adress
            li.uppercase-info
              | 1800-9938-2839
            li
              | support@plumberpoint.com
          .adress
            li.uppercase-info
              | A-507 Mandoli
            li
              | New Delhi, India
          .adress
            li.uppercase-info
              | Mon-Sat 9.00-15:00
            li
              | Sunday CLOSED
        .repair-footer
          li.service-link-header
            | Resent posts
          .repair-wrapper
            .photo-blog
              img.recent-blogs_img(src='assets/photo-content/repair-post.jpg' alt='pipe-repair')
            .recent-news
              li.uppercase-repair
                | Sewer Line Repair
              li.repair-text
                | Lore Issue . Simply dummy text.
                | The printing and typesetting industry.
                | Lore Issue has been the industry&apos;.
          .repair-wrapper
            .photo-blog
              img.recent-blogs_img(src='assets/photo-content/repair-post.jpg' alt='pipe-repair')
            .recent-news
              li.uppercase-repair
                | Sewer Line Repair
              li.repair-text
                | Lore Issue . Simply dummy text.
                | The printing and typesetting industry.
                | Lore Issue has been the industry&apos;.
          .repair-wrapper
            .photo-blog
              img.recent-blogs_img(src='assets/photo-content/repair-post.jpg' alt='pipe-repair')
            .recent-news
              li.uppercase-repair
                | Sewer Line Repair
              li.repair-text
                | Lore Issue . Simply dummy text.
                | The printing and typesetting industry.
                | Lore Issue has been the industry&apos;.
  .navigation-bottom
    .copyright.container
      span &copy;Copyright 2020 Techwero Systems.
      .menu-folder
        span.terms Term of Services
        span.privacy Privacy &amp; policy
