style
  include background-header-text.scss

section.background-header-text
  .container.background-header-text__body
    h2.background-header-text__title #{backgroundHeaderTextTitle || 'About us'}
    p.background-header-text__description #{backgroundHeaderTextDescription}
