style
  include menu.scss

.menu
  .header-logo
    img(src='/assets/icons/plumbcomp-img.svg' alt='logo')
  ul.menu-wrapper
    li.menu-item
      a.menu-link Home
    li.menu-item
      a.menu-link About us
    li.menu-item
      a.menu-link Services
    li.menu-item
      a.menu-link Project
    li.menu-item
      a.menu-link Blogs
    li.menu-item
      a.menu-link Contact
    button.call-button Request A Call Back

