style
  include menu.scss

.menu
  .header-logo
    img(src='/assets/icons/plumbcomp-img.svg' alt='logo')
  ul.menu-wrapper
    li.menu-item
      a.menu-link(href="/").cursor Home
    li.menu-item
      a.menu-link(href="/pages/commercial-service.pug").cursor About us
    li.menu-item
      a.menu-link(href="/pages/our-services.pug").cursor Services
    li.menu-item
      a.menu-link(href="/pages/projects.pug").cursor Project
    li.menu-item
      a.menu-link(href="/pages/blogs.pug").cursor Blogs
    li.menu-item
      a.menu-link(href="/pages/contact-us.pug").cursor Contact
    button.call-button.cursor Request A Call Back

