style
  include service_red_block.scss

section.commercial-service-wrapper.container
      .commercial-service-img-item
        img(src='../assets/photo-content/cs-img.jpg')
      .commercial-service-block
        h2.commercial-section-header Commercial Service
        span.commercial-service-text.
           Lorem Ipsum is simply dummy text
           of the printing and typesetting industry.
           Lorem Ipsum has been the industry&apos;s standard
           dummy text ever since the 1500s, when an unknown
           printer took a galley of type and scrambled it to
           make a type specimen book.
