.data-wrapper {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-family: "Rubik", sans-serif;
  justify-content: center;
}

form {
  border: 0;
}

.form-title {
  font-size: 40px;
  line-height: 47px;
  font-weight: 800;
  text-align: center;
}

.user-data {
  padding: 40px 0 20px 0;
}

input,
textarea {
  border-bottom: 1px solid #6d6d6d;
  padding: 10px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  width: 513px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  padding-left: 0; 
  resize: none;
}

.form-btn {
  background: var(--red);
  color: var(--white);
  text-transform: uppercase;
  border: 1px solid var(--red);
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

.form-dent {
  padding-left: 24px;
  padding-bottom: 51px;
}

.form-descr {
  max-width: 1064px;
}

.form-btn-wrapper {
  text-align: right;
  padding-right: 52px;
  padding-top: 22px;
}

 #description {
  width: 1061px;
  padding-bottom: 0;
}

.contacts-block {
  background: var(--gray-3);
  width: 100%;
  display: flex;
  margin-top: 53px;
  padding: 40px 0 40px 0;
}

.contact-page-block  {
  display: flex;
  align-items: center;
  margin: auto;
}

.content-dent {
  padding-bottom: 15px;
}

.contact-block {
  margin-bottom: 26px;
}

.contact-block:first-child p {
  max-width: 377px;
}

.contacts-page-wrapper {
  width: 45%;
}

.contact-page-content,.business-header {
  font-size: 14px;
  line-height: 17px;
}

.contact-block_header {
  font-size: 18px;
  line-height: 21px;
  color: var(--red);
  font-weight: 800;
}

.business-header {
  font-weight: 600;
  color: var(--red);
}

.map-canvas {
  width: 54%;
}

