.common_wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services_header {
  margin: 0;
  padding-top: 60px;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.services_paragraph {
  max-width: 728px;
  color: var(--gray);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.our-services_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 24px;
}

.grid_wrapper {
  max-width: 280px;
  max-height: 280px;
  background: var(--white);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 22px 16px;
  align-items: center;
}

.service_icon {
  width: 78px;
  padding-top: 42px;
}

.services-text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service_name {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 6px;
}

.service_info {
  max-width: 247px;
  color: var(--gray);
  font-size: 12px;
  padding: 0px 14px 30px 15px;
  text-align: center;
}