@import "variables.scss";
@media (max-width: 1440px) {
  header {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
    font-weight: 700;
  }
}

.menu {
  list-style: none;
  color: var(--black);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {

}

.menu-wrapper {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: baseline;
}

.menu-item {
  padding-left: 37px;
}

.call-button {
  font-family: "Roboto", sans-serif;
  height: 36px;
  background-color: var(--red);
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  outline: none;
  border: 0 none;
  font-size: 11px;
  font-weight: 700;
  white-space: nowrap;
  margin: 0 0 0 40px;
  cursor: pointer;
  padding: 0 18px;
}

a {
	position: relative;
	cursor: pointer;
}

a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color:var(--red); 
	content: "";
	transition: width 0.3s ease-out;
}

a:hover:after,
a:focus:after {
	width: 100%; 
}

.homepage-slider-hover {
  position: relative;
}

.homepage-slider {
  list-style: none;
  max-width: 1438px;
  display: flex;
}

.content {
  position: relative;
}

.text-content {
  list-style: none;
  position: absolute;
  display: flex;
  text-align: center;
  flex-flow: column;
  color: var(--white);
  width: 940px;
  padding: 0 253px 0 253px;
  z-index: 9;
}

.slide-heading {
  color: var(--red);
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 20px;
}

.slide-content {
  font-size: 20px;
  line-height: 24px;
}

.autor {
  font-family: "Mukta", sans-serif;
  font-size: 20px;
  line-height: 33px;
  font-weight: 700;
}

.slider-hover {
  filter: brightness(48%);
}

#sl {
  display: inline-block;
}

.nav-dots {
  bottom: 2%;
  height: 30px;
  width: 100%;
  left: 23px;
  z-index: 10;
  padding-top: 24px;
}

.nav-dots span {
  display: inline-block;
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 1px;
  background: var(--red);
  background: var(--white);
  cursor: pointer;
}

.nav-dots span.nav-dot_active:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: var(--red);
}

.blog-wrapper {
  width: 80%;
  text-align: left;
}

.blog-name {
  text-align-last: left;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.blog-panel {
  display: flex;
  justify-content: space-between;
}

.caption {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.description {
  font-size: 16px;
  line-height: 17px;
}

.blog-info {
  width: 329px;
}

.footer-news {
  margin: auto;
  display: flex;
}

.footer-wrapper {
  background: var(--black);
  height: 319px;
  text-align: left;
  display: flex;
  padding-top: 32px;
}

.dark-logo {
  width: 165px;
  padding-bottom: 28px;
}

.social-info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer-content-wrapper {
  color: var(--white);
  line-height: 14px;
  width: 362px;
  font-size: 12px;
  padding-bottom: 7px;
}

.social-link {
  padding-right: 20px;
}

.links-container {
  display: flex;
  align-items: baseline;
  padding-left: 94px;
}

.links-footer {
  color: var(--white);
  font-size: 12px;
  line-height: 14px;
  list-style: none;
}

.service-link-header {
  color: var(--red);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 40px;
}

.service-item {
  padding-bottom: 15px;
}

.contacts-footer {
  list-style: none;
  color: var(--white);
  font-size: 12px;
  padding-left: 91px;
}

.uppercase-info {
  font-size: 14px;
  line-height: 17px;
}

.adress {
  padding-bottom: 39px;
}

.repair-footer {
  list-style: none;
  padding-left: 55px;
}

.repair-text {
  width: 179px;
}

.uppercase-repair {
  color: var(--white);
  font-size: 10px;
  padding-bottom: 5px;
}

.repair-wrapper {
  color: var(--white);
  font-size: 8px;
  display: flex;
  padding-bottom: 15px;
}

.photo-blog {
  display: flex;
}

.recent-news {
  padding-left: 14px;
}

.recent-blogs_img {
  height: 50px;
}

.string {
  border-top: 1px solid #FFFFFF;
  background: var(--black);
}

.copyright {
  font-size: 10px;
  line-height: 12px;
  color: var(--red);
  display: flex;
  justify-content: space-around;
  padding: 11px 0 12px 0;
}

.terms {
  padding-right: 38px;
}