:root {
  --white: #fff;
  --black: #000;
  --red: #DD3142;
  --gray: #6D6D6D;
  ;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  text-align: -webkit-center;
}

a{
  text-decoration: none;
}