:root {
  --white: #fff;
  --black: #000;
  --red: #DD3142;
  --gray: #6D6D6D;
  --white-1: #E6E6EB;
  --gray-2: #222222;
  --gray-3: #F9F9F9;
  --gray-4: #3b3b3b;
  --gray-5: #cfcfcf;
  --gray-6: #9b9b9b; 
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  
}

a{
  text-decoration: none;
}

button {
  cursor: pointer;
}