doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/assets/styles/style.scss')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(rel='stylesheet' href='/assets/fonts/Roboto-Regular.woff')
  block head

style
  include layout.scss

header
  include ../components/menu

main
  block body

block footer
  include ../components/footer