extends ../layouts/layout

block head
  title Plumber Point
  link(rel='stylesheet' href='../assets/styles/blogs.scss')

block body
    section.blogs-wrapper.container
        .blog-content-wrapper
            h2.blog-title Our Blogs
            p.blog-details.
                Lorem Ipsum is simply
                dummy text of the printing
                and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever
                since the 1500s, when an unknown printer
                took a galley of type and scrambled it to
                make a type specimen book

        img(src="../assets/photo-content/blogs-item.jpg")

    section.benefits-wrapper.container
        img(src="../assets/photo-content/couple-bros.jpg")

        .benefits-text-wrapper
            h2.benefits-title Lorem Ipsum is simply dummy text.
            p.benefits-details.
                Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the
                
            p.benefits-details.
                Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the
                
            p.benefits-details.
                Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 

            a.learn-more-link(href="") Learn More

    section.benefits-grid-wrapper.container 
        .benefits-grid-item 
            img(src="../assets/photo-content/okay-sign.jpg")
            .benefits-grid-text-wrapper
                h2.benefits-grid-header Lorem Ipsum is simply dummy text of the printing and typesetting. 
                p.benefits-grid-text.
                  Don’t wrestle with rig assembly and hot, noisy miners at home. We have the fastest
                  bitcoin mining hardware running for you....
                
                a.learn-more-link(href="") Learn More

        .benefits-grid-item 
            img(src="../assets/photo-content/looking-man.jpg")
            .benefits-grid-text-wrapper
                h2.benefits-grid-header All you want to know about industrial laws
                p.benefits-grid-text.
                  Don’t wrestle with rig assembly and hot, noisy miners at home. We have the fastest
                  bitcoin mining hardware running for you....
                
                a.learn-more-link(href="") Learn More

        .benefits-grid-item 
            img(src="../assets/photo-content/man-under-desk.jpg")
            .benefits-grid-text-wrapper
                h2.benefits-grid-header Lorem Ipsum is simply dummy text of the printing and typesetting. 
                p.benefits-grid-text.
                  Don’t wrestle with rig assembly and hot, noisy miners at home. We have the fastest
                  bitcoin mining hardware running for you....
                
                a.learn-more-link(href="") Learn More

        .benefits-grid-item 
            img(src="../assets/photo-content/looking-man.jpg")
            .benefits-grid-text-wrapper
                h2.benefits-grid-header All you want to know about industrial laws
                p.benefits-grid-text.
                  Don’t wrestle with rig assembly and hot, noisy miners at home. We have the fastest
                  bitcoin mining hardware running for you....
                
                a.learn-more-link(href="") Learn More

        .benefits-grid-item 
            img(src="../assets/photo-content/man-under-desk.jpg")
            .benefits-grid-text-wrapper
                h2.benefits-grid-header Lorem Ipsum is simply dummy text of the printing and typesetting. 
                p.benefits-grid-text.
                  Don’t wrestle with rig assembly and hot, noisy miners at home. We have the fastest
                  bitcoin mining hardware running for you....
                
                a.learn-more-link(href="") Learn More
                
        .benefits-grid-item 
            img(src="../assets/photo-content/okay-sign.jpg")
            .benefits-grid-text-wrapper
                h2.benefits-grid-header Lorem Ipsum is simply dummy text of the printing and typesetting. 
                p.benefits-grid-text.
                  Don’t wrestle with rig assembly and hot, noisy miners at home. We have the fastest
                  bitcoin mining hardware running for you....
                
                a.learn-more-link(href="") Learn More

        include ../components/service_red_block