extends ../layouts/layout

block head
  title Plumber Point
  link(rel='stylesheet' href='../assets/styles/commercial-service.scss')

block body
  section.learn-about-us
    section.about-us_section
      .about-us-img_wrapper
        .description_wrapper.container
          h2.about_headline About Us
          p.about_description.
            Lorem Ipsum is simply dummy text of the printing
            and typesetting industry. Lorem Ipsum has been the
            industry&apos;s standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and
            scrambled it to make a type specimen book


    .about-us-wrapper.container
      h2.about-us_header Plumber Points Company
      span.about-us_content
        p.
          Lorem Ipsum is simply dummy text of
          the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make
          a type specimen book.

        p.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic

        p.
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
          publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    .about-us-services-wrapper.container
      .service-item
        .advantages-list
          .list-item
            .elipse-item-wrapper
              .advantages-ellipse-item
              .column-advantages Residental Service
            span.services-info.
               Lorem Ipsum is simply dummy text of
               the printing and typesetting industry.
               Lorem Ipsum has been the industry's
               standard dummy text.

          .list-item
            .elipse-item-wrapper
              .advantages-ellipse-item
              .column-advantages Commercial Service
            span.services-info.
               Lorem Ipsum is simply dummy text of
               the printing and typesetting industry.
               Lorem Ipsum has been the industry's
               standard dummy text.

          .list-item
            .elipse-item-wrapper
              .advantages-ellipse-item
              .column-advantages Maintenance
            span.services-info.
               Lorem Ipsum is simply dummy text of
               the printing and typesetting industry.
               Lorem Ipsum has been the industry's
               standard dummy text.

        .advantages-list
          .list-item
            .elipse-item-wrapper
              .advantages-ellipse-item
              .column-advantages Residental Service
            span.services-info.
                Lorem Ipsum is simply dummy text of
                the printing and typesetting industry.
                Lorem Ipsum has been the industry's
                standard dummy text.
          .list-item
            .elipse-item-wrapper
              .advantages-ellipse-item
              .column-advantages Commercial Service
            span.services-info.
               Lorem Ipsum is simply dummy text of
               the printing and typesetting industry.
               Lorem Ipsum has been the industry's
               standard dummy text.
          .list-item
            .elipse-item-wrapper
              .advantages-ellipse-item
              .column-advantages Maintenance
            span.services-info.
               Lorem Ipsum is simply dummy text of
               the printing and typesetting industry.
               Lorem Ipsum has been the industry's
               standard dummy text.

    include ../components/service_red_block
