extends ../layouts/layout

block head
  link(rel='stylesheet' href='../assets/styles/our-services.scss')
  title Our Services
  
block body
    -var backgroundHeaderTextTitle = 'Services'
    -var backgroundHeaderTextDescription = 'Lorem Ipsum is simply dummy text of '
    include ../components/background-header-text

    section.common_wrapper
        section.services-wrapper 
            h1.services_header Our Services 
            p.services_paragraph.
                Lorem Ipsum is simply
                dummy text of the printing 
                and typesetting industry. 
                Lorem Ipsum has been the 
                industry's standard dummy text ever 
                since the 1500s, when an unknown printer 
                took a galley of type and scrambled it to 
                make a type specimen book.

        section.our-services_grid 
            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/crane.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.

            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/hand.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.      
            
            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/pipe.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.      

            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/gear.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.      

            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/hand.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.      

            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/pipe.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.  

            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/gear.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.                        

            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/crane.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.      

            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/hand.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.               

            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/pipe.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.      

            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/gear.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.      

            .grid_wrapper
                .services-text_wrapper
                img.service_icon(src='../assets/photo-content/crane.jpg')
                h3.service_name Plumbing Service
                p.service_info.
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy
                    text ever since the.                                        

            include ../components/employees