extends ../layouts/layout

block head
  title Our Projects
  link(rel='stylesheet' href='../assets/styles/projects.scss')

block footer
  - var hideSliderHover = true
  include ../components/footer

block body
  section.learn-about-us 
    .about-us-img_wrapper

  section.projects_section
    .projects-info_wrapper 
      h2.project_header Our Projects 
      p.projects_text.
        Lorem Ipsum is simply dummy text
        of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it
              to make a type specimen book.

    section.projects_grid 
        .project-grid_wrapper
          img.project_image(src='../assets/photo-content/pointing.jpg')
          h2.project_name Residential
          p.project_info Kitchen Plumbing Project

        .project-grid_wrapper
          img(src='../assets/photo-content/fix.jpg')
          h2.project_name Residential
          p.project_info Bathroom Plumbing Project

        .project-grid_wrapper
          img(src='../assets/photo-content/quickfix.jpg')
          h2.project_name Residential
          p.project_info Bathroom Plumbing Project

        .project-grid_wrapper
          img(src='../assets/photo-content/fix.jpg')
          h2.project_name Residential
          p.project_info Bathroom Plumbing Project

        .project-grid_wrapper 
          img(src='../assets/photo-content/quickfix.jpg')
          h2.project_name Residential
          p.project_info Bathroom Plumbing Project 

        .project-grid_wrapper 
          img(src='../assets/photo-content/pointing.jpg')
          h2.project_name Residential
          p.project_info Kitchen Plumbing Project

        .project-grid_wrapper 
          img(src='../assets/photo-content/quickfix.jpg')
          h2.project_name Residential
          p.project_info Bathroom Plumbing Project

        .project-grid_wrapper 
          img(src='../assets/photo-content/pointing.jpg')
          h2.project_name Residential
          p.project_info Kitchen Plumbing Project  
        
        .project-grid_wrapper 
          img(src='../assets/photo-content/fix.jpg')
          h2.project_name Residential
          p.project_info Bathroom Plumbing Project

        //include ../components/service_red_block